<?xml version="1.0"?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">
	<display-name>User registration Portlet application</display-name>

    <resource-ref>
        <description>MySQL DS</description>
        <res-ref-name>datasources/uqasardb</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
        <lookup-name>java:/uqasardb</lookup-name>
    </resource-ref>

</web-app>